* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #F6F6F6;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    min-height: 100vh;
    overflow-x: hidden;
}

h1 {
    font-weight: 300;
    font-size: 4rem;
}

p {
    color: #3a3b3c;
}

header {
    background-color: rgba(69, 123, 157, 0.2);
    padding: 4rem 0;
    text-align: center;    
}

main {
    margin: 0 auto;
    padding: 2rem 4rem;
    max-width: 120rem;
}

.cards-container {
    display: grid;
    grid-auto-rows: 5px;
    grid-column-gap: 2px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4rem;
    .card-container {
        grid-column-end: span 1;
        grid-row-end: span 50;
        margin-bottom: 2rem;
        .card {
            border: 4px solid #F6F6F6;
            border-radius: 0.5rem;
            overflow: hidden;
            position: relative;
            .card-header {
                img {
                    display: block;
                    position: relative;
                    width: 100%;
                    z-index: 2;
                }
                .close {
                    background-color: unset;
                    border: none;
                    cursor: auto;
                    font-size: 1.2rem;
                    height: 2.5rem;
                    left: 2rem;
                    opacity: 0;
                    outline: none;
                    position: absolute;
                    top: 2rem;
                    transition: opacity 0.3s;
                    width: 2rem;
                    z-index: -1;
                }
                .close.fadeIn {
                    cursor: pointer;
                    opacity: 1;
                    position: absolute;
                    z-index: 4;
                }
            }
            .card-content {
                box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
                background-color: #FFFFFE;
                height: 0;
                transform: translateY(-100%);
                transition: transform 1s, opacity 0.9s;
                opacity: 0;
                .card-body {
                    h2 {
                        font-size: 2.2rem;
                        padding: 1rem 0 2rem 0
                    }         
                    .small-tags {
                        display: none;
                    }
                    a {
                        color: #1d3557;
                    }
                }
                .card-footer {
                    display: flex;
                    justify-content: space-between;
                    padding-top: 2rem;
                    .card-link {
                        background-color: #1d3557;
                        border-radius: 0.5rem;
                        border: 3px solid #1d3557;
                        color: #FFFFFE;
                        display: inline-block;
                        margin: 1rem 0;
                        min-width: 12rem;
                        padding: 0.5rem 1rem;
                        text-align: center;
                        text-decoration: none;
                        transition: background-color 0.3s, border 0.3s, color 0.3s;
                        &:hover {
                            background-color: #457B9D;
                            border: 3px solid #457B9D;
                        }
                        &:active {
                            background-color: #FFFFFE;
                            border: 3px solid #457B9D;
                            color: #3a3b3c;
                        }
                        i {
                            margin-right: 1rem;
                        }
                    }
                }
            }
            .card-content.fadeIn {
                border: 1px solid #FFFFFE;
                border-top:  none;
                height: 100%;
                opacity: 1;
                padding: 2rem 3rem;
                transform: translateY(0);
                transform-origin: top;
            }
            .card-overlay {
                align-items: center;
                background: rgba(0, 0, 0, 0.35);
                background: linear-gradient(0deg, rgba(29,53,87,1) 0%, rgba(0,255,111,0) 100%);
                display: flex;
                flex-flow: column nowrap;
                height: 100%;
                justify-content: flex-end;
                left: 0;
                opacity: 0;
                pointer-events: none;
                position: absolute;
                top: 0;
                transition: all .3s;
                width: 100%;
                z-index: 4;
                i {
                    color: #F6F6F6;
                    font-size: 3rem;
                    padding-bottom: 0.5rem;
                }
                p {
                    color: #F6F6F6;
                    font-size: 1.8rem;
                    padding-bottom: 3rem;
                }
            }
            &:hover .card-content.fadeIn + .card-overlay {
                opacity: 0;
            }
            &:hover .card-content + .card-overlay {
                opacity: 1;
            }
        }
    }
}

.tags {
    position: absolute;
    right: 2rem;
    top: 2rem;
    z-index: 3;
    .tag {
        background-color: #457B9D;
        border-radius: 1.5rem;
        color: #FFFFFE;
        display: inline-block;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        margin-right: 1rem;
        min-width: 5rem;
        padding: 0.5rem 0.8rem;
    }
}

@media (max-width: 992px) {
    .cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 720px) {
    .cards-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 400px) {
    .cards-container {
        .card-container {
            .card {
                .card-header {
                    .tags {
                        display: none;
                    }
                }
                .card-content { 
                    .card-body {
                        .small-tags {
                            display: block;
                            position: relative;
                            right: unset;
                            top: unset;
                            .tag {
                                margin: 0 0.5rem 0.5rem 0;
                            }
                        } 
                    }
                    .card-footer {
                        display: flex;
                        flex-flow: column;
                        a {
                            margin: 0.5rem 0;
                        }
                    }
                }
                .card-content.fadeIn {
                    padding: 2rem 2rem;
                }
            }
        }
    }
}