* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    min-height: 100vh;
    overflow-x: hidden;
}

h1 {
    font-weight: 300;
    font-size: 4rem;
    margin: 4rem 0 2rem 0;
}

main {
    margin: 0 auto;
    padding: 2rem 4rem;
    max-width: 120rem;
}

.card-container {
    display: grid;
    grid-auto-rows: 5px;
    grid-column-gap: 2px;
    grid-template-columns: repeat(3, 1fr);
    .card {
        grid-column-end: span 1;
        grid-row-end: span 50;
        margin-bottom: 2rem;
        .card-body {
            border: 4px solid #fff;
            border-radius: 1.5rem;
            overflow: hidden;
            position: relative;
            img {
                display: block;
                width: 100%;
            }
            .close {
                border: none;
                border-radius: 50%;
                cursor: auto;
                height: 2rem;
                line-height: 2rem;
                left: 2rem;
                opacity: 0;
                outline: none;
                position: absolute;
                top: 2rem;
                width: 2rem;
                z-index: 3;
            }
            .close.fadeIn {
                cursor: pointer;
                left: 2rem;
                opacity: 1;
                position: absolute;
                top: 2rem;
            }
            .tags {
                position: absolute;
                right: 2rem;
                top: 2rem;
                .tag {
                    background-color: rgb(168, 185, 255);
                    border-radius: 1.5rem;
                    display: inline-block;
                    font-size: 1.2rem;
                    font-weight: bold;
                    text-align: center;
                    margin-right: 1rem;
                    min-width: 5rem;
                    padding: 0.3rem 0.8rem;
                }
            }
            .card-content {
                height: 0;
                opacity: 0;
                h2 {
                    padding-bottom: 2rem;
                }         
                .footer {
                    display: flex;
                    justify-content: space-between;
                    padding-top: 2rem;
                    a {
                        background-color: rgb(6, 7, 56);
                        border-radius: 0.5rem;
                        color: #fff;
                        display: inline-block;
                        margin: 1rem 0;
                        min-width: 12rem;
                        padding: 1rem;
                        text-align: center;
                        text-decoration: none;
                    }
                }
            }
            .card-content.fadeIn {
                border: 1px solid #f2f2f2;
                border-radius: 0 0 1.5rem 1.5rem ;
                border-top:  none;
                opacity: 1;
                height: 100%;
                padding: 2rem 4rem;
            }
        }
    }
}

@media (max-width: 992px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 720px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}